.card-list-item {
  font-family: "Montserrat", sans-serif;

  .MuiAvatar-circle {
    font-size: 0.9rem;
  }
}

.MuiCardHeader-root {
  background-color: #b8d1e7;
  font-family: "Montserrat", sans-serif;
}

.carousel-control-next-icon {
  color: black;
}

.info {
  background-color: white;
  padding: 4px;
}

.MuiTypography-root.MuiTypography-body1.MuiTypography-paragraph {
  margin-bottom: 2px;
}

.MuiTypography-root.MuiTypography-body1.MuiTypography-paragraph {
  // margin-bottom: 2px;
  background-color: #7ecbba;
}