.requests-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(requests.jpg);
  // background-position: 25% 75%;
  width: 100%;
  height: 20rem;
  color: white;
  font-weight: 800;
  font-size: 3rem;
  background-size: 100%;
  background-position: top;
  // opacity: .70;
}

.requests {
  min-height: 85vh;
}

.custom-height-spinner {
  height: 22px;
  width: 22px;
  color: black;
}

.fa-times-circle {
  color: red; 
}
.fa-check-circle {
  color: green;
}