.card-list-item {
  font-family: "Montserrat", sans-serif;

  .MuiAvatar-circle {
    font-size: 0.9rem;
  }
}

.MuiCardHeader-root {
  background-color: #b8d1e7;
  font-family: "Montserrat", sans-serif;
}

.carousel-control-next-icon {
  color: black;
}
