div.modal-dialog.zooming.modal-lg.modal-dialog-centered {
  // width: 100%;
  // height: 100%;

  // div.modal-content {
  //   width: 100%;
  //   height: 100%;
  //   div.images.carousel.slide {
  //     width: 100%;
  //     height: 100%;

  //     ol.carousel-indicators {
  //       width: 100%;
  //       height: 100%;
  //     }
  div.carousel-inner {
    width: 100%;
    height: 100%;
    div.active.carousel-item {
      width: 100%;
      height: 100%;
      div.carousel.item {
        width: 100%;
        height: 100%;
      }
    }
  }
  //   }
  // }
}
