@import "bootstrap/scss/bootstrap";

#root {
  font-family: "Montserrat", sans-serif;

  div > nav {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: $navbar-padding-y $navbar-padding-x;
    // background: rgba(123, 122, 124, 0.571);
    background: transparent;
    z-index: 2;
    opacity: 1;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        list-style-type: none;
        text-align: center;
        font-size: 1.2rem;
        background-color: #215584;
        border-radius: 40px;
        padding: 0 20px 3px 20px;
        cursor: pointer;
        color: grey;
        margin: 10px;

        .MuiButton-label {
          font-family: "Montserrat", sans-serif;
          color: grey;
          padding: 0;
          outline: none;
          outline: none !important;
          border: none !important;
          box-shadow: none;
        }
      }
    }

    i.fab.fa-stumbleupon-circle {
      font-size: 3rem;
      color: #215584;
      padding-right: 20px;
    }
  }
}
