// $body-bg: #000;
@import "bootstrap/scss/bootstrap";

#root > div > nav {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: $navbar-padding-y $navbar-padding-x;
  background: rgb(154, 100, 154);
  z-index: 2;
}

.ul {
  list-style: none;
  cursor: pointer;
}
