//this only hides the 'browse' button and the
//title of the files that get uploaded

input#outlined-button-file {
  display: none;
}

.img {
  max-width: 10rem;
  margin: 1rem;
  border: 3px solid #E5A74F
}

.form-container {
  background-image:url(./build.jpg);
  height: 10rem;
  text-align: center;
  padding-top: 2rem;
  color: white;
  background-position: bottom;
  
}


.form-control {
  background-color: rgba(189, 44, 44, 0.701)
}

.submit {
  margin-bottom: 2rem;
}



.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  // background-color: #E5A74F;
}
