.MuiDrawer-root > .MuiPaper-root {
  // background-color: rgb(195, 195, 195);
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  border-top-right-radius: 20px;
  .sidebar {
    width: 250px;
    font-family: "Montserrat", sans-serif;
    ul {
      a {
        color: #51ab97;
        // padding: 0 0 0 10px;
        // font-weight: bold;
        div {
          padding-left: 25px;
        }
      }
      a:hover {
        color: #215584;
        font-weight: bold;
        text-decoration: none;
        div {
          background-color: #b5e7dc;
        }
      }
      span {
        // font-weight: bold;
        color: #51ab97;
        div {
          padding-left: 25px;
        }
      }
      span:hover {
        color: #215584;
        font-weight: bold;
        div {
          background-color: #b5e7dc;
        }
      }
    }
  }
}
