// $theme-colors: (
//   "primary":    #fff,
//   "secondary":  #fff,
//   "success":    #fff,
//   "info":       #fff,
//   "warning":    #fff,
//   "danger":     #fff,
//   "light":      #fff,
//   "dark":       #fff
// );

$link-color: #fff;
$body-bg: #000;
$primary: white;

// @import "bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

// .App-link {
//   color: #09d3ac;
// }

// Customize theme

// :root {
//   --primary: #fff !important;
//   --blue: #fff !important;
// }
